# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.*
!.env.example

# Databases
*.sqlite3
*.db

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDEs & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

# Node (Frontend)
node_modules/
/dist
.npm
package-lock.json
yarn-error.log
.eslintcache
.parcel-cache
.cache
